<div class="container footer">
  <div class="col-xs-12 col-md-5 footer-links">
    <h2><%= link_to 'Sur rendez-vous',  contact_path%></h2>
    <h4><%= link_to "Espace local d'informations psy et liens", liens_path %></h4>
    <h4><%= link_to "Vous cherchez un psy ?", vous_cherchez_un_psy_path %></h4>
    <h4><%= link_to "Nous orienter un patient", nous_orienter_un_patient_path %></h4>
    <h4><%= link_to "Pratiques professionnelles", pratiques_professionnelles_path %></h4>

  </div>
  <div class="col-xs-12 col-md-2">
  </div>
  <div class=" col-xs-12 col-md-5 footer-cliniciens">
    <div class="footer-names">
      <div class="footer-name">
        <h4><%= link_to "Corentin Méheust-Roux", cliniciens_path(anchor: 'cmr') %></h4>
        <p><a href="tel:0231287759">02 31 28 77 59</a> / <a href="tel:0662347596">06 62 34 75 96</a></p>
      </div>
      <div class="footer-name">
        <h4><%= link_to "Yves-Antoine Leroy", cliniciens_path(anchor: 'yal') %></h4>
        <p><a href="tel:0667425253">06 67 42 52 53</a></p>
      </div>
    </div>
  </div>
</div>
