<div class="container posts-container">
  <div>
    <h2>Gérer les événements</h2>
    <div class="col-xs-12 col-md-8">
      <ul>
        <% @posts.each do |post| %>
        <li>
          <a href=<%= post.url %> target="_blank"><%= post.title %></a>
          <%= post.description %>
          <%= link_to post_path(post), method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-12 col-md-4">
    <%= simple_form_for(@post) do |f| %>
      <p>Ajouter un événement</p>
      <%= f.input :title, label: false, placeholder: 'Titre'%>
      <%= f.input :url, label: false, placeholder: 'URL'%>
      <%= f.input :description, label: false, placeholder:'Description (optionnel)'%>
      <%= f.button :submit, "Ajouter", class: 'btn btn-primary btn-posts' %>
    <% end %>
    </div>
  </div>
  <div>
    <h2>Gérer les liens</h2>
    <div class="col-xs-12 col-md-8">
      <ul>
        <% @liens.each do |lien| %>
        <li>
          <a href=<%= lien.url %> target="_blank"><%= lien.title %></a>
          <%= lien.description %>
          <%= link_to lien_path(lien), method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= simple_form_for(@lien) do |f| %>
        <p>Ajouter un lien</p>
        <%= f.input :title, label: false, placeholder: 'Titre' %>
        <%= f.input :url, label: false, placeholder: 'URL'%>
        <%= f.input :description, label: false, placeholder:'Description (optionnel)'%>
        <%= f.button :submit, "Ajouter", class: 'btn btn-primary btn-posts' %>
      <% end %>
    </div>

  </div>
</div>
